body {
    background-color: hsl(0, 0%, 100%);
   margin:0;
   padding:0;
   font-family: "Roboto";

}

#text {
   font-family: "Arial";
   
}

.flex-container, .flex-container3{
    background-color: #1f2937;
   

}


h3{
    font-size:24px;
    color:#f9faf8
}


.flex-container2{
    font-size: 36px;
    background-color: #e5e7eb;
    font: #1f2937;
    
   
}


.flex-container3, .links{
    color:#e5e7eb;
    display:flex;
    align-content: center;
    justify-content: center;
    font-size:18px;
    
}

.button{
    background-color: #3882F6;
    color: #e5e7eb;
    margin: 50px;
}


